{{ $dataURL := printf "https://about.gitlab.com/company/team/team.yml" }}
{{ with resources.GetRemote $dataURL (dict "mediaType" "application/yaml")}}
  {{ with .Err}}
    <h2>Unable to fetch Team Member Data File</h2>
  {{ else }}
      {{ $data := .Content | transform.Unmarshal  }}
<table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Group</th>
          <th>Departments</th>
        </tr>
      </thead>
              {{- $img := "" }}
              {{- $username := "" }}
              {{ range $data }}
              {{ $username = .gitlab }}
              {{ if in .departments "Merge Request Coach" }}
              {{- with (partial "gitlab/api" (dict
                            "path" "/users"
                            "query" (dict
                              "username" $username
                            )
                    ))
                -}}
                  {{- /* GitLab returns '[]' instead of nothing. */}}
                  {{- if gt (len .) 0 }}
                    {{- $u := index . 0 }}
                    {{- with $u.avatar_url }}
                      {{- with resources.GetRemote . }}
                        {{- $img = .Fill "90x90" }}
                      {{- end }}
                    {{- end }}
                  {{- end }}
                {{- end }}
              <tr>
                  <td><a href="https://gitlab.com/{{ .gitlab }}"><img class="avatar" src="{{ $img.RelPermalink }}" width="{{ .img.Width }}" height="{{ .img.Height }}" alt="{{ .name }}">{{.name}}</a></td>
                  <td>
                    {{ $department := "None" }}
                    {{ range .departments }}
                      {{ if strings.Contains . "Group" }}
                        {{ $department = replace . "Group" "" }}
                        {{ break }}
                      {{ else if strings.Contains . "Team" }}
                        {{ $department = . }}
                        {{ $department = replace $department "BE" "" }}
                        {{ $department = replace $department "FE" "" }}
                        {{ $department = replace $department "Fullstack" "" }}
                        {{ $department = replace $department " Team" "" }}
                        {{ break }}
                      {{ end }}
                    {{ end }}
                    {{ $department }}
                  </td>
                  <td><ul>{{ range .departments }}
                    <li>{{ . }}</li>
                    {{ end }}</ul>
                  </td>
              </tr>
              {{ end }}
              {{ end }}
          </tbody>
      </table>
  {{ end }}
{{ end }}

<style>
    img.avatar {
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid lightgray;
    aspect-ratio: auto 90 / 90;
    overflow-clip-margin: content-box;
    }
</style>
